root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
# Two trailing spaces in Markdown are a line break
trim_trailing_whitespace = false
# Markdown has heavily context specific indentations.
# For example, the indentation in lists depend on the length of the list marker
# (such as '- ' or '100. '), at least in the GitHub Markdown flavor:
# https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#nested-lists
# Therefore, pressing tab should insert a single space to encourage situative accurate indentations.
indent_size = 1

[*.patch{,.no,.yet}]
trim_trailing_whitespace = false
insert_final_newline = false
# There are files with different kinds of indentations
indent_style = unset
indent_size = unset

[*.svg]
insert_final_newline = false
