# Ignore everything in vscode except our changes
vscode/*
!vscode/resources/darwin/Info.plist
!vscode/resources/darwin/Lean4Code.icns
!vscode/build/gulpfile.vscode.js
!vscode/product.json

# Ignore build artifacts and system files
.DS_Store
*.env
assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/VSCodium
build/windows/msi/releasedir
build/windows/msi/Files*.wxs
build/windows/msi/Files*.wixobj
stores/snapcraft/insider/*.snap
stores/snapcraft/stable/*.snap

# Ignore node modules and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
